{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@repo/(.*)$",
    "^@/(.*)$",
    "",
    "^[.]"
  ],
  "tailwindFunctions": ["cn", "cva"],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-packagejson"
  ]
}
